@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans';
    background-image: url("image/background.jpg");
    background-size: cover;
}

#container {
    width: 400px;
    display: block;
    margin: 5% auto;
}

/* Bordered form */
form {
    width: 100%;
    padding: 30px;
    border: 1px solid #fff;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1 {
    width: 38%;
    margin-left: 20%;
    padding-bottom: 10px;
    text-align: center;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #9D0208;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: white;
    color: #9D0208;
    border: 1px solid #9D0208;
}
